---
layout: default
---

<section class="main">
  <div class="responsive-nav" id="responsive-nav">
    <p class="title">chris</p>
    <div class="links">
      <ul>
        <li>Studio</li>
        <li>About</li>
      </ul>
      <ul>
        <li>Github</li>
        <li>Contact</li>
      </ul>
      <p id="close">X</p>
    </div>
  </div>
  {% include nav.html %}
  <div class="logo">
    <p class="logo-text">Chris</p>
  </div>
  <div class="branding">
    <p>chris/portfolio</p>
    <p class="pos">passionate web developer</p>
  </div>
</section>
<section class="idea">
  <div>
    <h1 class="height-line">To develop for a better</h1>
    <h1>human experience</h1>
    <p>Developing bring ideas to life.</p>
    <p>The magic comes from the ideas.</p>
  </div>
</section>
<section class="projects">
  <div class="project1">
    {% for project in site.data.project1 %}
      <div>
        <a href="{{project.href}}"><img src="{{project.image}}" alt="{{project.title}}" height="{{project.height}}"></a>
        <p class="{{project.class}}">{{project.title}}</p>
        <p>{{project.type}}</p>
      </div>
    {% endfor %}
  </div>
  <div class="project2">
    {% for project2 in site.data.projects2 %}
    <div>
      <a href="{{project2.href}}"><img src="{{project2.image}}" alt="{{project2.title}}" height="{{project2.height}}"></a>
      <p class="{{project2.class}}">{{project2.title}}</p>
      <p>{{project2.type}}</p>
    </div>
    {% endfor %}
  </div>
</section>
<section class="projects-responsive">
    {% for project in site.data.project1 %}
      <div>
        <a href="{{project.href}}"><img src="{{project.image}}" alt="{{project.title}}" height="{{project.height}}"></a>
        <p class="{{project.class}}">{{project.title}}</p>
        <p>{{project.type}}</p>
      </div>
    {% endfor %}
    {% for project2 in site.data.projects2 %}
    <div>
      <a href="{{project2.href}}"><img src="{{project2.image}}" alt="{{project2.title}}" height="{{project2.height}}"></a>
      <p class="{{project2.class}}">{{project2.title}}</p>
      <p>{{project2.type}}</p>
    </div>
    {% endfor %}
</section>
<section class="idea">
  <div>
    <p>Quality is number one. Top quality content comes</p>
    <p>from the passion and the heart.</p>
  </div>
</section>
<section class="light-bulb">
  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="300.000000pt" height="300.000000pt" viewBox="0 0 300.000000 300.000000" preserveAspectRatio="xMidYMid meet">
          <g class="bulb" transform="translate(0.000000,300.000000) scale(0.1000,-0.1000)" fill="#fff" stroke="none">
          <path class="node" id="node1" d="M1438 2575 l3 -125 65 0 64 0 0 125 0 125 -67 0 -68 0 3 -125z"></path>
          <path class="node" id="node2" d="M984 2596 l-61 -31 24 -45 c13 -25 42 -77 63 -117 l40 -72 57 31 c32
          17 59 32 61 33 3 3 -92 187 -112 216 -10 15 -17 14 -72 -15z"></path>
          <path class="node" id="node3" d="M1933 2592 c-61 -110 -104 -194 -101 -197 2 -1 29 -16 60 -33 l58
          -30 29 51 c16 29 45 82 64 118 l35 66 -63 31 -62 30 -20 -36z"></path>
          <path class="node" id="node4" d="M598 2272 c-19 -26 -37 -52 -41 -59 -6 -9 131 -117 209 -165 8 -5 25
          10 48 42 20 28 36 54 36 59 0 5 -33 33 -72 62 -40 29 -90 65 -110 80 l-36 29
          -34 -48z"></path>
          <path class="node" id="node5" d="M2356 2311 c-3 -5 -49 -39 -102 -77 -53 -37 -98 -74 -101 -80 -7 -19
          67 -115 81 -106 78 48 215 156 209 165 -15 25 -75 107 -78 107 -2 0 -6 -4 -9
          -9z"></path>
          <path class="node" id="node6" d="M1410 2281 c-325 -42 -541 -299 -516 -616 11 -149 48 -245 173 -455
          77 -129 123 -236 130 -306 l6 -54 69 0 69 0 -6 58 c-13 102 -55 209 -153 380
          -108 190 -138 263 -150 360 -27 228 97 413 322 479 99 29 186 30 282 3 230
          -65 349 -234 331 -469 -8 -104 -36 -175 -145 -364 -100 -174 -136 -259 -152
          -357 -15 -96 -18 -90 59 -90 l68 0 6 54 c7 66 51 175 118 286 99 168 148 269
          170 360 17 70 17 238 0 310 -36 148 -136 274 -281 353 -101 55 -273 84 -400
          68z"></path>
          <path class="node" id="node7" d="M432 1723 l3 -68 143 -3 142 -3 0 71 0 70 -145 0 -146 0 3 -67z"></path>
          <path class="node" id="node8" d="M2280 1720 l0 -71 143 3 142 3 3 68 3 67 -146 0 -145 0 0 -70z"></path>
          <path class="node" id="node9" d="M655 1334 c-66 -29 -124 -55 -128 -56 -7 -3 36 -114 49 -127 4 -4
          234 97 247 109 5 4 -4 35 -20 68 l-28 60 -120 -54z"></path>
          <path class="node" id="node10" d="M2195 1313 c-14 -31 -22 -60 -18 -63 5 -4 44 -22 88 -39 44 -18 94
          -39 112 -47 17 -8 35 -14 40 -14 9 0 67 121 60 125 -19 10 -241 95 -248 95 -5
          0 -21 -26 -34 -57z"></path>
          <path class="node" id="node11" d="M1252 748 c-7 -7 -12 -25 -12 -40 0 -21 6 -31 26 -38 14 -6 119 -10
          234 -10 115 0 220 4 234 10 20 7 26 17 26 38 0 15 -5 33 -12 40 -17 17 -479
          17 -496 0z"></path>
          <path class="node" id="node12" d="M1262 568 c-17 -17 -15 -54 4 -72 13 -14 49 -16 233 -16 198 0 219 2
          234 18 20 22 22 53 5 70 -17 17 -459 17 -476 0z"></path>
          <path class="node" id="node13" d="M1320 402 c0 -11 71 -77 97 -91 12 -6 51 -11 86 -11 62 0 67 2 121
          46 31 26 56 50 56 55 0 5 -81 9 -180 9 -99 0 -180 -4 -180 -8z"></path>
          </g>
          <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" fill="#A0A0A0" stroke="none">
          </g>
        </svg>
</section>
<section class="idea">
  <div class="contact-info">
    <h2>Lets work together.</h2>
    <p>Lets make the future happen! the web is the future</p>
    <p><a href="mailto:ChristianR@ymail.com">contact me!</a></p>
  </div>
</section>
<footer>
  {% include footer.html %}
</footer>
